body{
  font-family: "Open Sans", sans-serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  color: #EEF5DB;
  background-color: #4F6367;
}

.sneaker-icon{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FE5F55;
}

.log-on{
  background-color: #4F6367;
  color: #EEF5DB;
  align-items:center;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.log-on p{
  margin: 0;
}

.main{
  display: flex;
  padding-left: 20px;
  background-color: #B8D8D8;
}

.left-side, .right-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: #4F6367;
}

.left-side p, .right-side p{
  font-size: 24px;
  text-align: center;
}

.goal-tracker p {
  padding: 0px 40px;
}
.calendar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 80%;
  margin-bottom: 20px;
}

.calendar div {
  display: flex;
  align-items: center;
}

.calendar p {
  margin: 0;
  font-size: 14px;
}

.edit, .jrnl{
  padding: 5px;
  background-color: #FE5F55;
  color: #4F6367;
}

.date, .stretch {
  height: 30px;
  padding: 5px;
  background-color: #4F6367;
  color: #EEF5DB;
}

.goal, .bar{
  height: 25px;
  padding: 1px 5px;
  background-color: #EEF5DB;
  color: #4F6367;
}

.showmore {
  text-align: right;
}

.daily-exercise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.exer-header{
  background-color: #FE5F55;
  color: #4F6367;
  width: 100%;
  text-align: center;
}

.exer-img{
  padding: 10%;
  text-align: center;
  width: 80%;
  background-color: #7A9E9F;
}

.arrows{
  display: flex;
  justify-content:space-between;
  height: 50px;
  width: 80%;
  padding: 2% 10%;
  align-content: space-between;
  background-color: #7A9E9F;
}
.navigation{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-btn{
  width: 180px;
  height: 180px;
  margin: 10px;
  align-items: center;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.nav-btn p{
  margin: 10px;
}

.heart{
  background-color: #7A9E9F;
  color: #EEF5DB;
}

.directions{
  margin-top: 20px;
  text-align: center;
  width: 70%;
  margin: 5px;
  border: 5px solid #7A9E9F;
  background-color: white;
  padding: 5px 10px 20px 10px
}

.directions h2{
  margin-bottom: 0;
  color: #4F6367;
}

.directions p{
  margin-bottom: 2px;
  color: #7A9E9F;
}
